//
//  Secrets.xcconfig
//  MovieSearch
//
//  Created by Halfdan Albrecht Isaksen on 02/05/2025.
//

TMDB_API_KEY = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2YWQ3YmNlYTAwMTIzZWQ2YTMwZTc4MjE4ODBlMzNkMSIsIm5iZiI6MTc0NjAyMDYxNS43NTksInN1YiI6IjY4MTIyOTA3YzZjMDIxZWVmNzE0NTczOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.VGBXTpvLzXfND_PpQR86t-WQZy2yFutPjp2sqqktZYU
